version: 2.1

workflows:

  trove-docker:
    jobs:
      - check-for-updates

      - build-r-base:
          requires:
            - check-for-updates
      - test-r-base:
          requires:
            - build-r-base
      - build-r-dojo:
          requires:
            - test-r-base
      - test-r-dojo:
          requires:
            - build-r-dojo

      - build-r-lambda:
          requires:
            - check-for-updates
      - test-r-lambda:
          requires:
            - build-r-lambda

      - build-node-base:
          requires:
            - check-for-updates
      - test-node-base:
          requires:
            - build-node-base
      - build-node-dojo:
          requires:
            - test-node-base
      - test-node-dojo:
          requires:
            - build-node-dojo

      - build-composite:
          requires:
            - check-for-updates
      - test-composite:
          requires:
            - build-composite

      - build-tex-dojo:
          requires:
            - check-for-updates
      - test-tex-dojo:
          requires:
            - build-tex-dojo

      - update-trove:
          requires:
            - test-r-dojo
            - test-r-lambda
            - test-node-dojo
            - test-composite
            - test-tex-dojo
          filters:
            branches:
              only: main


##########

jobs:

  build-r-base:
    executor: trove-machine
    steps:
      - push-docker-image:
          image: r-base
  test-r-base:
    executor: trove-machine
    steps:
      - test-docker-image:
          image: r-base
  build-r-dojo:
    executor: trove-machine
    steps:
      - push-docker-image:
          image: r-dojo
  test-r-dojo:
    executor: trove-machine
    steps:
      - test-docker-image:
          image: r-dojo

  build-r-lambda:
    executor: trove-machine
    steps:
      - push-docker-image:
          image: r-lambda
  test-r-lambda:
    executor: trove-machine
    steps:
      - test-docker-image:
          image: r-lambda

  build-node-base:
    executor: trove-machine
    steps:
      - push-docker-image:
          image: node-base
  test-node-base:
    executor: trove-machine
    steps:
      - test-docker-image:
          image: node-base
  build-node-dojo:
    executor: trove-machine
    steps:
      - push-docker-image:
          image: node-dojo
  test-node-dojo:
    executor: trove-machine
    steps:
      - test-docker-image:
          image: node-dojo

  build-composite:
    executor: trove-machine
    steps:
      - push-docker-image:
          image: composite
  test-composite:
    executor: trove-machine
    steps:
      - test-docker-image:
          image: composite

  build-tex-dojo:
    executor: trove-machine
    steps:
      - push-docker-image:
          image: tex-dojo
  test-tex-dojo:
    executor: trove-machine
    steps:
      - test-docker-image:
          image: tex-dojo

  update-trove:
    executor: trove-docker
    environment:
      GIT_AUTHOR_NAME: CircleCI workflow
      GIT_AUTHOR_EMAIL: trove-docker@app.circleci.com
      GIT_COMMITTER_NAME: CircleCI workflow
      GIT_COMMITTER_EMAIL: trove-docker@app.circleci.com
    steps:
      - checkout
      - install-dojo
      - add-keys
      - run: make dependencies-push-update-ci

  check-for-updates:
    executor: trove-docker
    steps:
      - checkout
      - install-dojo
      - add-keys
      - run: make dependencies-get-updates-ci

##########

commands:

  push-docker-image:
    parameters:
      image:
        description: Suffix of docker image to push
        type: string
    steps:
      - checkout
      - run:
          command: make push-docker-<< parameters.image >>

  test-docker-image:
    parameters:
      image:
        description: Suffix of docker image to test
        type: string
    steps:
      - checkout
      - install-dojo
      - run:
          command: make test-docker-<< parameters.image >>

  install-dojo:
    steps:
      - run:
          name: Install dojo
          command: |
            version="0.13.0"
            wget -O /tmp/dojo https://github.com/kudulab/dojo/releases/download/${version}/dojo_linux_amd64
            chmod +x /tmp/dojo
            sudo mv /tmp/dojo /usr/bin/dojo

  add-keys:
    steps:
      - add_ssh_keys:
          fingerprints:
            - "23:f6:1d:ca:a2:66:5e:a8:27:75:ce:e6:fa:f7:e5:ae"
            - "73:5c:48:94:de:82:ed:7b:3f:0d:51:06:54:3a:e6:ff"

##########

executors:
  trove-docker:
    docker:
      - image: cimg/base:2023.02
    environment:
      GIT_AUTHOR_NAME: CircleCI workflow
      GIT_AUTHOR_EMAIL: trove-docker@app.circleci.com
      GIT_COMMITTER_NAME: CircleCI workflow
      GIT_COMMITTER_EMAIL: trove-docker@app.circleci.com
      GIT_IDENTITY_TROVE_DOCKER: /home/circleci/.ssh/id_rsa_735c4894de82ed7b3f0d5106543ae6ff

  trove-machine:
    machine:
      image: ubuntu-2204:2023.02.1
